.widget-wrap {
  padding: 15px;
}
.widget-title {
  font-size: 1em;
  font-weight: normal;
}
.widget a {
  color: rgba(36, 41, 46, 0.8);
}
.widget a:hover {
  color: #24292e;
}
.widget ul {
  list-style-type: none;
}
