.widget-wrap {
  padding: 15px;
}
.widget-title {
  font-size: 1em;
  font-weight: normal;
}
.widget a {
  color: rgba(68, 68, 68, 0.8);
}
.widget a:hover {
  color: #444;
}
.widget ul {
  list-style-type: none;
}
